---
---

@import 'jekyll-theme-cayman';

nav {
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out, 
                transform 0.3s ease-in-out;
}

nav a:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    nav {
        text-align: left;
        padding: 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}